html {
  scroll-behavior: smooth;
}
body {
  font-family: "Titillium Web", sans-serif;
}
header {
  margin-top: 50px;
}
.navbar-toggler > .close {
  display: inline;
}
.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.progress-sm,
#progress-md {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #343a40, #232526, #343a40); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #343a40, #232526, #343a40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 40px 0px;
  text-align: center;
  color: #fff;
}
footer {
  background-color: #343a40;
}
footer div a {
  color: rgba(250, 250, 250, 0.6);
}
footer div .row div:nth-child(1):hover i {
  color: #C71610;
}
footer div .row div:nth-child(2):hover i {
  color: #00acee;
}
footer div .row div:nth-child(3):hover i {
  color: #fff;
}
footer div .row div:nth-child(4):hover i {
  color: #00aff0;
}
.bar {
  padding-left: 15%;
  padding-right: 15%;
}
.description {
  margin-top: 3rem;
}
.upbtn {
  display: none;
  position: fixed;
  width: 38px;
  height: 38px;
  background-color: #343a40be;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
  color: white;
  font-size: 20px;
}
.upbtn:hover {
  background-color: #343a40;
}
.upbtn:hover i {
  color: white;
  font-size: 22px;
  transition: 1s;
}
.header-animation img {
  width: 100%;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: slidein;
}
@keyframes slidein {
  0% {
    transform: perspective(400px) rotateY(20deg);
  }
  50% {
    transform: perspective(400px) rotateY(-20deg);
  }
  100% {
    transform: perspective(400px) rotateY(20deg);
  }
}
