nav,footer,	section { 
    height: 10vh;
}

nav { 
    display: block;
    background: grey;
}

    
section {
    background: blue;
}

.secundario{
    background: mediumaquamarine;
    float: left;
    width: 50%;
    padding: 1%;
    box-sizing: border-box;
    }

footer {
    display: block;
    background: pink;
}