@media only screen and (max-width: 2560px) {
  /* PERFIL PROFESIONAL */
  .profesional-container {
    grid-template-areas:
      "title-p title-p  title-c title-c"
      "image-r image-r image-r image-r"
      "description-p description-p description-c description-c"
      "concentration concentration concentration concentration"
      "precision image-c image-c  obedience"
      "precision image-c image-c obedience"
      ". experience experience ."
      "support support infraestructure infraestructure "
      "certifications certifications certifications certifications"
      "footer footer footer footer";
  }
}

@media only screen and (max-width: 1440px) {
  .profesional-container {
    grid-template-areas:
      "title-p description-p description-p description-p"
      "image-r  image-r image-r image-r"
      "description-c description-c description-c title-c"
      "image-c image-c concentration concentration"
      "image-c image-c obedience  obedience"
      "image-c image-c precision precision"
      ". experience experience ."
      "support support infraestructure infraestructure "
      "certifications certifications certifications certifications"
      "footer footer footer footer";
  }
}

@media only screen and (max-width: 720px) {
  /* PERFIL PROFESIONAL */
  .profesional-container {
    grid-template-areas:
      "title-p description-p description-p description-p"
      ". image-r image-r ."
      "description-c description-c description-c title-c"
      "image-c image-c concentration concentration"
      "image-c image-c obedience  obedience"
      "image-c image-c precision precision"
      ". experience experience ."
      "support support infraestructure infraestructure "
      "certifications certifications certifications certifications"
      "footer footer footer footer";
  }

  .footer-nav li a {
    color: aliceblue;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 720px) {
  /* MOBILE NAVIGATION */
  /* MARGEN CON LA NAVEGACION */
  :target {
    padding-top: 50px;
  }
  .nav-wrapper {
    position: fixed;
    z-index: 30;
  }

  .nav-item {
    display: grid;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #000;
    width: 100%;
    height: calc(100vh);
    transform: translate(-101%);
  }
  .navbar li {
    padding: 15px;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .navbar li a {
    font-size: 1rem;
  }
  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }

  .description {
    text-align: center;
  }

  .profesional-container {
    display: grid;
    grid-template-areas:
      "title-p"
      "description-p"
      "image-r"
      "title-c"
      "description-c"
      "image-c"
      "concentration"
      "obedience"
      "precision"
      "experience"
      "support"
      "infraestructure"
      "certifications"
      "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 10px;
    margin: 0 8%;
  }
  .modal-container.active img {
    width: 85%;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.9rem;
  }
  .profesional-title {
    margin-top: 50px;
  }
  .description {
    text-align: left;
  }
  .footer-wrapper {
    margin-top: 20px;
  }
  .modal-container img {
    width: 90%;
  }
}
