:root {
    --padding-grid: 20px;
    --max-width: 1284px;
}

.site-header {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-gap: var(--padding-grid);
}

.profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(-1, auto);
    grid-template-areas:    "cont-image             cont-image"
                            "profile-professional   profile-professional"
                            "profile-behavioral     profile-behavioral"
                            "competitions-1         competitions-2"
                            "experience-1           experience-2"
                            "qualifications         qualifications";
}

.footer-site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    background: rgb(0, 0, 0);
    grid-template-areas:    "footer-text"
                            "footer-icons"
                            "footer-rights" ;
}

.profile-wrapper .cont-img {
    display: flex;
    justify-content: center;
    grid-area: cont-image;
}

.profile-wrapper .profile-professional {
    display: flex;
    grid-area: profile-professional;
}

.profile-wrapper .profile-behavioral {
    display: flex;
    justify-content: center;
    grid-area: profile-behavioral;
}

.profile-wrapper .competitions-1 {
    display: flex;
    justify-content: center;
    grid-area: competitions-1;
}

.profile-wrapper .competitions-2 {
    display: flex;
    justify-content: center;
    grid-area: competitions-2;
}

.profile-wrapper .experience-1 {
    display: block;
    justify-content: center;
    grid-area: experience-1;
}

.profile-wrapper .experience-2 {
    display: block;
    justify-content: center;
    grid-area: experience-2;
}

.profile-wrapper .qualifications {
    display: flex;
    justify-content: center;
    grid-area: qualifications;
}

.footer-site .footer-text {
    display: flex;
    justify-content: center;
    grid-area: footer-text;
}

.footer-site .footer-icons {
    display: flex;
    justify-content: center;
    grid-area: footer-icons;
}

.footer-site .footer-rights {
    display: flex;
    justify-content: center;
    grid-area: footer-rights;
}

@media screen and (max-width: 320px) {
    body {
        background: aqua;
    }
}


@media screen and (max-width: 768px) {
    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(-1, auto);
        grid-template-areas:    "cont-image              "
                                "profile-professional    "
                                "profile-behavioral      "
                                "competitions-1          "
                                "competitions-2          "
                                "experience-1            "
                                "experience-2            "
                                "qualifications         ";
    }
}