body {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 48px;
}

.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
}

header {
    margin-top: 75px;
}

#progress-sm, #progress-md  {
    background-color: rgba(100, 100, 100, 0.2);
    padding: 50px 0 30px 0;
    text-align: center;
    color: rgb(0, 0, 0);
}


footer {
    background-color: #000;
    opacity: 0.9;
}

footer div a {
    color: rgba(216, 216, 216, 0.5);
    opacity: 0.9;
}

footer div a:hover {
    color: rgb(255, 255, 255);
    opacity: 0.7;
}