/* 0 RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --padding-grid: 20px;
    --max-width: 1284px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Texto y letra predeterminado */

body {
    background-color: #ffffff;
    text-align: center;
    font: 300 20px/1.5 'Roboto Condensed';
}

/* 
Transiccion de enlaces navegacion 
Alto de lineas para el documento
Maximo de ancho
*/

html {
    scroll-behavior: smooth;
    line-height: 1.35;
    --maxWidth: 1284px;
}

/* Formato General
etiquetas */

p {
    text-align: center;
    font: 300 16px/1.5 'Roboto Mono', monospace';

}

h1 {
    position: relative;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.7);
}

/* Navegacion Principal */

label {
    display: none;
}

.site-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.headroom {
    transition: transform .3s ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.nav-main ul {
    background-color: rgba(10, 10, 10);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.nav-main li {
    list-style: none;
    border-right: 0.5px rgba(255, 255, 255, 0.2) dotted;

}

.nav-main li:nth-child(1) {
    border-left: 0.5px rgba(255, 255, 255, 0.2) dotted;
}

.nav-main li:hover {
    background-color: rgba(28, 28, 28);
}

.nav-main li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

.nav i nav {
    height: 1px;
    background-color: red;
}

.nav-main:hover li a {
    padding: 20px 25px;
    transition: .5s;
    font-size: 1em;
}

.nav-main:hover>ul>li:nth-child(1) i {
    color: #f44336
}

.nav-main:hover>ul>li:nth-child(2) i {
    color: #03a9f4
}

.nav-main:hover>ul>li:nth-child(3) i {
    color: #ff8a00
}

.nav-main:hover>ul>li:nth-child(4) i {
    color: #4caf50
}

.nav-main:hover>ul>li:nth-child(5) i {
    color: #9c27b0
}

.nav-main:hover>ul>li:nth-child(6) i {
    color: #cf8a00
}

.nav-main:hover>ul>li:nth-child(7) i {
    color: #00cf68
}

.nav-header .nav-main .main-sections>li>a>i {
    -webkit-transition: .25s;
    transition: .25s;
    fill: none;
}

.nav-main span {
    display: block;
    font-size: 1rem;
}

/* .nav-main::after {
    content: '';
    display: block;
    height: 1px;
    background-color: rgba(10, 10, 10);
    transform: scale(0, 1);
    transition: transform .25s;
}

.nav-main:hover::after {
    transform: scale(1, 1);
} */

/* SLIDER HEADER */

.slider-header {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.profile-wrapper .slider-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 300%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in-out;
}

.slider-header li {
    width: 100%;
    text-decoration: none;
    list-style: none;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }
    25% {
        margin-left: 0%;
    }
    35% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

/*
Imagen Header al 100% 
*/

.slider-header {
    height: 100vh;
    width: 100%;
    background: url(../images/fondo.jpeg);
    background-repeat: no-repeat center top;
    background-size: cover;
    box-shadow: -100px -100px 100px inset rgba(0, 0, 0, 0.9), 100px 100px 100px inset rgba(0, 0, 0, 0.9);
}

/* SUBTITLE */

.subtitle3 {
    justify-content: left;
    padding-bottom: 5%;
    font-size: 24px;
    color: #000000;
}

/* profile professional */

.subtitle-professional {
    font-size: 2.5em;
}

.content-professional {
    background: url(../images/dummy-header.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.profile-professional .content-professional-p {
    text-align: center;
    margin: 50px 150px;
}

/* Profile behavioral*/

.subtitle-behavioral {
    font-size: 2.5em;
}

.content-behavioral {
    background: url(../images/dummy-header.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.profile-behavioral .content-professional-b {
    text-align: center;
    margin: 50px 150px;
}

/*  Competencias IMG*/

.competitions-1 .competitions1-content {
    justify-items: center;
}

.competitions1-subtitle {
    font-size: 2.5em;
}

/* Competencias TEXT*/

.competitions-2 ul {
    list-style: none;
}

.competitions-2-analysis {
    padding-top: 0;
}

.competitions-2 h2 {
    font-size: 2.5em;
}

/*
Configuracion de 50% para las 2 secciones 1/2
quitamos el grid que ocupa el 100% y lo utlizamos con un block del 50%
Pendiente de anidar una grid
*/

.experience-1 {
    display: block;
    text-align: center;
}

.experience-1 p {
    margin: 5% 10%;
    text-align: left;
}

.experience-1 h2 {
    font-size: 4rem;
}

.experience-1 h3 {
    font-size: 2rem;
}

.experience-2 {
    display: block;
    text-align: center;
}

.experience-2 h2 {
    font-size: 4rem;
}

.experience-2 h3 {
    font-size: 2rem;
}

/* Iconos de la experiencia */

.experience-icon-wrap {
    margin: auto;
    width: 130px;
    height: 130px;
    background-image: linear-gradient(to top left, rgb(0, 255, 255) 60%, rgb(211, 254, 255) 100%);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 25px 7px -15px rgba(0, 0, 0, .5);
    margin-bottom: 3%;
}

.experience-icon-wrap i {
    text-align: center;
    color: #ffffff;
    font-size: 350%;
    padding: 20%;
}

/* QUALIFICATIONS */

.qualifications-wrapper {
    background-image: linear-gradient(360deg, #f3fafa 90%, #ffffff 100%);
}

.qualifications-wrapper .row {
    margin-bottom: 0;
}

.qualifications-title {
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.gallery img {
    box-shadow: 0 25px 7px -15px rgba(0, 0, 0, .6);
    border-radius: 15px;
}

.gallery .col {
    margin-bottom: 40px;
}

.materialboxed-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

/*FOOTER */

.footer-text {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.footer-nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    float: left;
    grid-gap: 50px;
}

.footer-nav li {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    margin: 0 10%
}

.footer-social {
    display: flex;
    list-style: none;
    float: left;
}

.footer-social i {
    color: #fff;
    font-size: 1em;
    margin: 0 30px;
}

.footer-social li {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-rights {
    display: flex;
    list-style: none;
}

.footer-rights a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}

.footer-text:hover>ul>li:nth-child(1) a {
    color: #0f01da
}

.footer-text:hover>ul>li:nth-child(2) a {
    color: #3659aa
}

.footer-text:hover>ul>li:nth-child(3) a {
    color: #392a7a
}

.footer-text:hover>ul>li:nth-child(4) a {
    color: #3f8aa8
}

.footer-text:hover>ul>li:nth-child(5) a {
    color: #36aa40
}

.footer-text:hover>ul>li:nth-child(6) a {
    color: #166249
}

.footer-nav li:hover {
    background-color: rgba(28, 28, 28);
    transition: 1s;
}

@media screen and (max-width: 768px) {
    .profile-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(-1, auto);
        grid-template-areas: "cont-image" "profile-professional" "profile-behavioral" "competitions-1" "competitions-2" "experience-1" "experience-2" "qualifications";
    }
    .materialbox-caption {
        width: 90%;
    }
    label {
        display: block;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1em;
        font-size: 1.5em;
        text-align: right;
    }
    .nav-main ul {
        display: none;
    }
    #toggle:checked+.nav-main ul {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        transition: transform 1s;
    }
    .nav-main li {
        list-style: none;
        border-bottom: 0.5px rgba(255, 255, 255, 0.2) dotted;
    }    
    .nav-main li:nth-child(1) {
        border-top: 0.5px rgba(255, 255, 255, 0.2) dotted;
    }
    /* .nav-main li:hover {
        background-color: rgba(28, 28, 28, 0.4);
    } */
    .site-header {
        display: block;
        float: center;
    }
    .comp-img {
        display: none;
    }
    .footer-site .footer-text {
        display: none;
    }
    .subtitle-professional {
        margin-bottom: 10px;
    }
    .profile-professional .content-professional-p {
        text-align: center;
        margin: 5% 5%;
    }
    .subtitle-behavioral {
        margin-bottom: 10px;
    }
    .profile-behavioral .content-professional-b {
        text-align: center;
        margin: 5% 5%
    }
    .competitions-2 h2 {
        font-size: 1.5em;
    }
    h1 {
        font-size: 2em;
    }
}